ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b9b8b8;
    transition: 2s;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 2s;
  }
  
  li a:hover {
    background-color: #111;
    transition: 2s;
  }
.i1{
    color:green
}
.i2{
    color:darkblue
}